
<footer>
    <div class="footer-logo">
        <a href="/"><img src="/img/logo padaria2.png" alt=""></a>        
    </div>
    <div class="footer-contatos">

        <h1>Unidade Jauary I</h1>
        <p>Rua joão Valério - 313</p>
        <div class="footer-zap">
            <div class="footer-tell">
                <i class="fa-brands fa-whatsapp"></i>
                <a href="#">(92)99999-9999</a>
            </div>
            <div class="footer-tell">
                <i class="fa-solid fa-mobile-screen-button"></i>
                <a href="#">(92)99999-9999</a>
            </div>
        </div>

    </div>

</footer>