<!--Header-->
    <header>
        <div class="header">
            <nav class="nav-bar-superior">

                <div class="nav-list-contato">
                    <ul>
                        <li class="nav-item-contato"><i class="fa-solid fa-mobile-screen-button"></i></li>
                        <li class="nav-item-contato"><a href="#" class="nav-link-contato">(92)99999-9999</a></li>
                        <li class="nav-item-contato">|</li>
                        <li class="nav-item-contato"><a href="#" class="nav-link-contato"><i
                                    class="fa-brands fa-facebook"></i></a></li>
                        <li class="nav-item-contato"><a href="#" class="nav-link-contato"><i
                                    class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>

                <div class="nav-list-conta">
                    <ul>
                        <li class="nav-item-conta"><i class="fa-solid fa-circle-user"></i></a></li>
                        <li class="nav-item-conta"><a href="/login" class="nav-link-conta">Minha Conta</a></li>
                        <li class="nav-item-conta">R$0,00</li>
                        <li class="nav-item-conta"><i class="fa-solid fa-cart-shopping"></i></li>
                    </ul>
                </div>

            </nav>

            <nav class="nav-bar">
                <div class="logo">
                    <a href="/"><img src="/img/logopadaria.png" alt=""></a>                    
                </div>
                <div class="nav-list">
                    <ul>
                        <li class="nav-item"><a href="/sobre" class="nav-link">Empresa</a></li>
                        <li class="nav-item"><a href="/produto" class="nav-link">Produtos</a></li>
                        <li class="nav-item"><a href="/cardapio" class="nav-link">Cardápio</a></li>
                        <li class="nav-item"><a href="/contato" class="nav-link">Contato</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--Fim Header-->