<!-- Menu Principal -->
<main>

    <div class="cardapio">
        <label for="itens_cardapio">Selecione</label>
        <select id="itens_cardapio" name="itens_cardapio">
            <option value="bebidas_quentes">Bebidas Quentes</option>
            <option value="cafes">Cafés</option>
            <option value="cafes_gelado">Cafés Gelado</option>
            <option value="combos">Combos</option>
            <option value="pratos">Pratos Doces</option>
            <option value="Pratos_principais">Preatos Principais</option>
            <option value="sanduiches">Sanduíches</option>
            <option value="sanduiches_especiais">Sanduíches Especiais</option>
            <option value="sobremesas">Sobremesas</option>
            <option value="sucos">Sucos</option>
        </select>

        <h2>Sobremesa</h2>

        <table>
            <tr>
                <th>Nome</th>
                <th>quantidade</th>
                <th>fornecedor</th>
            </tr>
            <tr>
                <td>leite</td>
                <td>15</td>
                <td>D. novinha</td>
            </tr>
            <tr>
                <td>Açucar</td>
                <td>15</td>
                <td>D.M</td>
            </tr>
        </table>

    </div>


</main>