<!-- Menu Principal -->
<main>


    <div class="historia-empresa">
        <h2>A empresa</h2>
        <p>O segredo é simples: fazer com carinho. A dedicação em todas as etapas de produção, a criatividade nas
            receitas e o cuidado em cada detalhe é o jeito Requinte de fazer, mas o fermento que faz essa receita
            dar certo é a satisfação em fazer você feliz. Por trás de cada produto, existe uma longa história de
            tradição em qualidade, feita para agradar quem a gente mais gosta.<br><br>

            Se no começo da nossa trajetória em Curitiba, contar com matéria-prima selecionada e chefs estrangeiros
            era novidade, hoje, essa tradição de qualidade se renova a cada dia: uma receita que passa de geração em
            geração.<br><br>

            No inverno de 1984, em Curitiba, a primeira loja da Confeitaria Requinte, no bairro Champagnat, abriu
            suas portas ao público. A empresa familiar, iniciou as atividades de maneira artesanal e com poucas mãos
            para trabalhar, mas uma grande ideia para vender: produtos frescos todos os dias.<br><br>

            Com a inspiração, trazida na bagagem, de diversas viagens ao exterior, a Confeitaria Requinte encontrou
            em Curitiba o ambiente ideal para o seu desenvolvimento. A capital com jeito de província, inverno
            abundante e uma clientela ávida por novidades gastronômicas, em pouco tempo, fez da confeitaria uma
            paixão tipicamente curitibana: ambiente familiar e pessoal, mas com produtos refinados e de qualidade
            internacional. O sabor de Curitiba® define a identidade da empresa.
        </p>
    </div>

    <div class="cultura-empresa">
        <div class="textos-infor">
            <h2>RESPEITO E TRANSPARÊNCIA</h2>
            <p>
                Acreditar que é possível fazer o melhor vai muito além da geração de produtos, é também uma
                filosofia de vida: nossa receita gera satisfação para os nossos clientes, colaboradores, associados e
                para toda a
                sociedade. Respeito nas relações de trabalho, cuidado com o meio ambiente durante todo ciclo de vida
                de nossos produtos, integridade e transparência com todos os clientes e fornecedores, solidariedade com
                quem mais precisa. Esses são os princípios que fizeram da Requinte uma das empresas mais estimadas
                de Curitiba e que lhe dá a confiança para enfrentar qualquer desafio no futuro. Afinal, somos uma
                empresa que coloca as pessoas em primeiro lugar.

            </p>
        </div>

        <img src="/img/img3.jpg" alt="">

    </div>

    </div>

    <div class="materia-prima-empresa">
        <img src="/img/img4.jpg" alt="">
        <div class="textos-infor">
            <h2>MATÉRIA-PRIMA SELECIONADA</h2>
            <p>
                Acreditar que é possível fazer o melhor vai muito além da geração de produtos, é também uma
                filosofia de
                vida: nossa receita gera satisfação para os nossos clientes, colaboradores, associados e para toda a
                sociedade. Respeito nas relações de trabalho, cuidado com o meio ambiente durante todo ciclo de vida
                de
                nossos produtos, integridade e transparência com todos os clientes e fornecedores, solidariedade com
                quem mais precisa. Esses são os princípios que fizeram da Requinte uma das empresas mais estimadas
                de
                Curitiba e que lhe dá a confiança para enfrentar qualquer desafio no futuro. Afinal, somos uma
                empresa
                que coloca as pessoas em primeiro lugar.

            </p>
        </div>

    </div>

    <div class="imagem-fix">

    </div>

    <div class="historia-empresa">
        <h2>Quem somos</h2>
        <p>Muitos de vocês já nos conhecem, e tem um carinho imenso por nós, assim como temos por cada um de vocês.
            Nossa história começou em 1984 no Bigorrilho, quando no mês de agosto iniciamos esta amizade com a cidade, e
            com nossos vizinhos que foram os primeiros a acreditarem no nosso projeto. Este projeto que buscou a
            profissionalização da padaria, e o conceito de boutique de pães, sinônimo de alta qualidade e padronização.
            Em 2004 acompanhando o crescimento de Curitiba inauguramos mais uma loja no bairro Cabral, que também já é
            muito querida por todos da cidade.<br><br>

            Em primeiro lugar temos Deus como nossa direção, em seguida o amor pelo nosso trabalho e empresa.
            Trabalhamos para oferecer produtos de alta qualidade e prestar um serviço eficiente e atencioso aos mínimos
            detalhes.<br><br>

            São 35 anos de muita história, e hoje estamos atendendo a terceira geração de clientes. É gratificante ver
            nossos primeiros clientes hoje trazendo os seus filhos, netos e bisnetos. Ter cada um de vocês conosco todos
            os dias, seja na hora do café da manhã ou na volta para a casa depois de um dia agitado, é a nossa maior
            recompensa.<br><br>

            E a Requinte também esta caminhando para a segunda geração de gestores, temos para os próximos anos novos
            desafios e grandes mudanças pela frente. O mundo é outro, os hábitos estão mudando e a tecnologia moldando
            nossas vidas. Mas nosso amor e paixão pelo que fazemos não mudou, e a essência do nosso negócio continuará
            sendo, nossos clientes, nossa equipe e nossos produtos.
        </p>
    </div>

    <div class="equipe">
        <h2>Nossa equipe</h2>
        <div class="container-equipe">
            <div class="equipe-imagem">
                <img src="/img/foto1.jpg" alt="">
            </div>

            <div class="equipe-imagem">
                <img src="/img/foto2.jpg" alt="">
            </div>

            <div class="equipe-imagem">
                <img src="/img/foto3.jpg" alt="">
            </div>

            <div class="equipe-imagem">
                <img src="/img/foto4.jpg" alt="">
            </div>
        </div>
    </div>

</main>