<main>
    <div class="fundo">
        <div class="footer-zapp">
            <h1>Fale com Nosco</h1>
            <br>
            <h3>Unidade Jauary I</h3>
            <br>
            <div class="footer-tel">
                <i class="fa-brands fa-whatsapp"></i>
                <a href="#">(92)99999-9999</a>
            </div>
            <div class="footer-tel">
                <i class="fa-solid fa-mobile-screen-button"></i>
                <a href="#">(92)99999-9999</a>
            </div>
             <p>Rua joão Valério - 313</p>
        </div>
    </div>
</main>